{% extends 'auctions/main.html' %}
{% load static %}
{% load currency %}
{% block content %}
<div class="wrapper-detail">
    <div class="detail-container">
        <div class="parameters">
            <div class="parameter">
                <div class="param-title">Product ID</div>
                <div class="param-value">{{ auction.id }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">Start Time</div>
                <div class="param-value">{{ auction.start_date }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">End Time</div>
                <div class="param-value">{{ auction.end_date }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">Status</div>
                <div class="param-value green">{{ auction.status }}</div>
            </div>
            <a class="bid-history-btn" href="{% url 'bidhistory' auction.id %}">
                View Bidding History
            </a>
        </div>

        <div class="product-info">
            <div class="product-gallery">
                <div id="slide-wrapper">
                    <div id="slider">
                        {% if auction.auctionimage_set.all.first.image.url %}
                        <img class="thumbnail active" src="{{ auction.auctionimage_set.all.first.image.url }}">
                        {% for img in auction.auctionimage_set.all %}
                        {% if forloop.counter != 1 %}
                        <img class="thumbnail" src="{{ img.image.url }}">
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div id="img-container">
                    <div id="lens"></div>
                    {% if auction.auctionimage_set.all %}
                    <img id=featured src="{{ auction.auctionimage_set.all.first.image.url }}">
                    {% endif %}
                </div>
            </div>
            <div class="product-details">
                <div class="auction-title">{{ auction.title }}</div>

                {% if not auction.is_sold and auction.is_started %}
                <div class="countdown-timer">
                    <div class="countdown-title">ENDS IN</div>
                    <div class="timer">
                        <div class="timer-values">
                            <span class="day-value">{{ auction.time_left.day }}</span> :
                            <span class="hr-value">{{ auction.time_left.hour }}</span> :
                            <span class="min-value">{{ auction.time_left.min }}</span>
                            <span class="sec-value sec">{{ auction.time_left.sec }}</span>
                        </div>
                        <div class="timer-names">
                            <span class="time-title">DAY</span>
                            <span class="time-title">HOUR</span>
                            <span class="time-title">MIN</span>
                        </div>
                    </div>
                </div>
            {% elif auction.is_scheduled %}
            <p class="auction-status">Scheduled</p>
            <div class="countdown-timer">
                <div class="countdown-title">STARTS IN</div>
                <div class="timer">
                    <div class="timer-values">
                        <span class="day-value">{{ auction.time_until_start.day }}</span> :
                        <span class="hr-value">{{ auction.time_until_start.hour }}</span> :
                        <span class="min-value">{{ auction.time_until_start.min }}</span>
                        <span class="sec-value sec">{{ auction.time_until_start.sec }}</span>
                    </div>
                    <div class="timer-names">
                        <span class="time-title">DAY</span>
                        <span class="time-title">HOUR</span>
                        <span class="time-title">MIN</span>
                    </div>
                </div>
            </div>
            {% elif auction.is_ended %}
            <p class="auction-status">Ended</p>
            {% endif %}
                <div class="auction-detail-box">
                    <div class="detail"><span class="detail-text">Number of Bids</span><span class="detail-value blue">{{ auction.bid_set.count }}</span></div>
                    <div class="detail"><span class="detail-text">Base Price</span><span class="detail-value blue">
                            {% for curr in CURRENCIES %}
                                {% if curr.code == request.session.currency %}
                                    {{ curr.symbol }}
                                {% endif %}
                            {% endfor %}
                            {{ auction.opening_price|currency:request.session.currency }}</span></div>
                    <div class="detail"><span class="detail-text">Current Bid Price</span>
                        <span class="detail-value dark bold">
                                {% for curr in CURRENCIES %}
                                    {% if curr.code == request.session.currency %}
                                        {{ curr.symbol }}
                                    {% endif %}
                                {% endfor %}
                                {% if auction.current_bid_price %}
                                    {{ auction.current_bid_price|currency:request.session.currency }}
                                {% else %}
                                    {{ auction.opening_price|currency:request.session.currency }}
                                {% endif %}
                        </span></div>
                </div>
                {% if messages %}
                <div class="message">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="btn-container">
                {% if not auction.is_sold and auction.is_started and not auction.user == user %}
                    <a href="{% url 'placebid' auction.id %}" class="primary-btn">Place Bid</a>
                    {% if not buy_req %}
                        <a href="{% url 'createbuyrequest' auction.id %}" class="secondary-btn green-btn">Buy</a>
                    {% else %}
                        <div class="buy-status">
                            <div>Buy Request</div>
                            <div>{{ buy_req.status }}</div>
                        </div>
                    {% endif %}
                {% elif auction.user == user %}
                    <a href="{% url 'manageauction' auction.id %}" class="manage-btn">Manage Auction</a>
                {% endif %}
                </div>
            </div>
        </div><hr>
        <div class="parameters-small-screen">
            <div class="parameter">
                <div class="param-title">Product ID</div>
                <div class="param-value">{{ auction.id }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">Start Time</div>
                <div class="param-value">{{ auction.start_date }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">End Time</div>
                <div class="param-value">{{ auction.start_date }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">Status</div>
                <div class="param-value green">{{ auction.status }}</div>
            </div>
            <a class="bid-history-btn" href="{% url 'bidhistory' auction.id %}">
                View Bidding History
            </a>
        </div>
        <div class="product-desc">
            <div class="desc-title">Shipping</div>
            <div class="desc-content">
                    {% if not auction.shipping_price %}
                    FREE
                    {% else %}
                    {% for curr in CURRENCIES %}
                    {% if curr.code == request.session.currency %}
                    {{ curr.symbol }}
                    {% endif %}
                    {% endfor %}
                    {{ auction.shipping_price }}
                    {% endif %}
            </div>
        </div>
        <div class="product-desc">
            <div class="desc-title">Product Description</div>
            <div class="desc-content">
                {{ auction.description|linebreaks }}
            </div>
        </div>
        <div class="product-desc">
            <div class="desc-title">Seller Information</div>
            <div class="desc-content">
                Seller ID: {{ auction.user_id }}
            </div>
        </div>
        <div class="product-desc">
            <div class="desc-title">More Details</div>
            <div class="desc-content">
                {{ auction.details|linebreaks }}
            </div>
        </div>
    </div>
</div>
<script src="{% static 'auctions/slider.js' %}"></script>

{% endblock %}