{% extends 'auctions/main.html' %}
{% load static %}
{% block title %}Create a New Auction{% endblock %}

{% block content %}
<div class="wrapper">
    <div class="title">
        Create New Auction
    </div>
    <hr>
    <form action="" class="styled-form shrink form-center" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
<!-- 
        <label for="id_start_date">Start Date</label>
        <input type="text" name="start_date" id="id_start_date">

        <label for="id_end_date">End Date</label>
        <input type="text" name="end_date" id="id_end_date"> -->
        
        {{ form.category.label }}
        {{ form.category }}
        
        {{ form.title.label }}
        {{ form.title }}

        {{ form.description.label }}
        {{ form.description }}

        {{ form.details.label }}
        {{ form.details }}

        {{ form.start_date.label }}
        {{ form.start_date }}

        {{ form.end_date.label }}
        {{ form.end_date }}

        {{ form.status.label }}
        {{ form.status }}

        {{ form.opening_price.label }}
        ({% for curr in CURRENCIES %}
        {% if curr.code == request.session.currency %}
        {{ curr.symbol }}
        {% endif %}
        {% endfor %})

        {{ form.opening_price }}
        {{ form.buy_price.label }}
            (
            {% for curr in CURRENCIES %}
            {% if curr.code == request.session.currency %}
            {{ curr.symbol }}
            {% endif %}
            {% endfor %}
            )
        {{ form.buy_price }}
        
        <label for="image">Upload Product Images</label>
        <input type="file" multiple id="image" name="image">
        <input type="submit" value="Create">
        <a href="{% url 'dashboard' %}" class="cancel">Cancel</a>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'auctions/jquery.datetimepicker.css' %}" />
<script src="{% static 'auctions/jquery.datetimepicker.full.min.js' %}"></script>
<script>
    jQuery('#id_start_date').datetimepicker({
        format: 'Y-m-d H:i'
    });
    jQuery('#id_end_date').datetimepicker({
        format: 'Y-m-d H:i'
    });
</script>
{% endblock %}