{% extends 'auctions/main.html' %}
{% load static %}
{% block title %}Create a New Auction{% endblock %}


{% block content %}
<div class="wrapper">
    <div class="title">
        Create New Auction
    </div>
    <hr>
    <form action="" class="styled-form shrink form-center" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
<!-- 
        <label for="id_start_date">Start Date</label>
        <input type="text" name="start_date" id="id_start_date">

        <label for="id_end_date">End Date</label>
        <input type="text" name="end_date" id="id_end_date"> -->
        
        {{ form.category.label }}
        {{ form.category }}
        
        {{ form.title.label }}
        {{ form.title }}

        {{ form.description.label }}
        {{ form.description }}

        {{ form.details.label }}
        {{ form.details }}
        <label for="id_start_date">{{ form.start_date.label }}</label>
        {{ form.start_date }}

        <label for="id_end_date">{{ form.end_date.label }}</label>
        {{ form.end_date }}

        <label for="id_state">{{ form.status.label }}</label>
        {{ form.status }}

        {{ form.opening_price.label }}
        ({% for curr in CURRENCIES %}
        {% if curr.code == request.session.currency %}
        {{ curr.symbol }}
        {% endif %}
        {% endfor %})

        {{ form.opening_price }}
        {{ form.buy_price.label }}
            (
            {% for curr in CURRENCIES %}
            {% if curr.code == request.session.currency %}
            {{ curr.symbol }}
            {% endif %}
            {% endfor %}
            )
        {{ form.buy_price }}
        <label for="image">Upload Product Images</label>
        <input type="file" multiple id="image" name="image">
        <input type="submit" value="Create">
        <a href="{% url 'dashboard' %}" class="cancel">Cancel</a>
    </form>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

<!-- XDSoft DateTimePicker -->
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
    integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
    integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {
        jQuery('#id_start_date').datetimepicker({
            format: 'Y-m-d H:i',
        });
        jQuery('#id_end_date').datetimepicker({
            format: 'Y-m-d H:i',
        });
    });
</script>
{% endblock %}
