{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'auctions/style.css' %}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>


    <div class="wrapper-account">
        <div class="form-container">
            <div class="site-title">Auction Crow</div>
            <div class="form-account">
                <h1>Login</h1>
                {% if messages %}
                    <div class="message">
                        {% for message in messages %}
                        <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <label for="username">Username</label>
                    <input type="text" name="username">
                    <label for="password">Password</label>
                    <input type="password" name="password">
                    <input type="hidden" name="next" value="{{ request.GET.next }}" />
                    <input type="submit" value="Login">
                </form>
                <p>New Here? <a href="{% url 'register' %}">Create an account</a></p>
            </div>
            
        </div>
        <div class="banner-account">
        
        </div>
    </div>


</body>
</html>