{% load static%}
<nav>
    <div class="site-logo">
        <img src="" alt="">
    </div>
    <div class="site-title"><a href="/">Auction Crow</a></div>
    <div class="search-bar">
        <input type="text" name="searchtext" placeholder="Search...">
        <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
    </div>
    <ul class="nav-links" id="nav-links">
        <li class="dropdown">Categories
            <ul class="nav-dropdown">
                <li><a href="">Mobiles & Electronics</a></li>
                <li><a href="">Apparel</a></li>
                <li><a href="">Furniture</a></li>
                <li><a href="">Vehicle & Accessories</a></li>
                <li><a href="">Sports</a></li>
                <li><a href="">Entertainment</a></li>
                <li><a href="">Home & Garden</a></li>
                <li><a href="">All Categories</a></li>
            </ul>
            <i class="fas fa-chevron-down"></i>
        </li>
        <li class="dropdown currency">Currency
            <span class="currency-value">INR 
                <i class="fas fa-chevron-down"></i>
            </span>
            <ul class="nav-dropdown drop-small">
                <li>INR</li>
                <li>USD</li>
                <li>YEN</li>
            </ul>
        </li>
        {% if user.is_authenticated %}
        <li class="your-bids">
            <a href="{% url 'yourbids' %}">Your Bids</a>
            <span class="bid-count">{{ user.userprofile.bid_count }}</span></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="dropdown">{{ request.user }}
            <ul class="nav-dropdown">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            <i class="fas fa-chevron-down"></i>
        </li>
        {% else %}
        <li class="dropdown">Account
            <ul class="nav-dropdown">
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Signup</a></li>
            </ul>
            <i class="fas fa-chevron-down"></i>
        </li>
        {% endif %}

    </ul>
    <div class="burger" id="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>