{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'auctions/style.css' %}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap" rel="stylesheet">
    <title>Register</title>
</head>
<body>
    <div class="wrapper-account">
        <div class="form-container">

            <div class="form-account">
                <h1>Register</h1>
                {% if form.errors %}
                    <div class="form-error">
                        {% for error in form.username.errors %}
                            {{ error }}<br>
                        {% endfor %}
                        {% for error in form.email.errors %}
                            {{ error }}<br>
                        {% endfor %}
                        {% for error in form.passoword1.errors %}
                            {{ error }}<br>
                        {% endfor %}
                        {% for error in form.password2.errors %}
                            {{ error }}<br>
                        {% endfor %}
                    </div>
                {% endif %}
                <form action="" method="POST">
                    {% csrf_token %}
                
                    <label for="username">Username</label>
                    <input type="text" name="username">
                    <label for="email">Email</label>
                    <input type="text" name="email">
                    <label for="password1">Password</label>
                    <input type="password" name="password1">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2">
                    <input type="submit" value="Register">
                
                </form>
                <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
        <div class="banner-account">
        
        </div>

    </div>

</body>
</html>