{% extends 'auctions/main.html' %}
{% load static %}
{% block content %}
<div class="wrapper-bid-table">
        <a class="back-btn" href="{% url 'auctiondetail' auction.id %}">Back</a>
        <div class="parameters">
            <div class="parameter">
                <div class="param-title">
                    Product ID</div>
                <div class="param-value">{{ auction.id }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">Start Time</div>
                <div class="param-value">{{ auction.start_date }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">End Time</div>
                <div class="param-value">{{ auction.end_date }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">Status</div>
                <div class="param-value green">{{ auction.status }}</div>
            </div>
        </div>
        <div class="auction-title">{{ auction.title }}</div>
        
        <table class="bid-history-table">
            <caption>BIDDING HISTORY</caption>
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Bid Amount</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
                {% for bid in bids %}
                <tr>
                    <td>{% if bid.user.id %}
                            {{ bid.user.id }}
                        {% else %}
                            Unavailable
                        {% endif %}
                    </td>
                    <td>₹ {{ bid.amount }}</td>
                    <td>{{ bid.created_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="parameters-small-screen">
            <div class="parameter">
                <div class="param-title">Product ID</div>
                <div class="param-value">{{ auction.id }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">Start Time</div>
                <div class="param-value">{{ auction.start_date }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">End Time</div>
                <div class="param-value">{{ auction.start_date }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">Status</div>
                <div class="param-value green">{{ auction.status }}</div>
            </div>
        </div>

</div>

{% endblock %}