{% extends 'auctions/main.html' %}
{% load static %}
{% block content %}
<div class="wrapper-bid-table">

        <div class="parameters">
            <div class="parameter">
                <div class="param-title">Product ID</div>
                <div class="param-value">{{ auction.id }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">Start Time</div>
                <div class="param-value">{{ auction.start_date }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">End Time</div>
                <div class="param-value">{{ auction.end_date }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">Status</div>
                <div class="param-value green">{{ auction.status }}</div>
            </div>
        </div>
        <div class="auction-title">{{ auction.title }}</div>
        
        <table class="bid-history-table">
            <tr>
                <th>User ID</th>
                <th>Bid Amount</th>
                <th>Time</th>
            </tr>
            <tr>
                <td>3423</td>
                <td>₹ 5002</td>
                <td>27th Aug 2021, 11:30 AM</td>
            </tr>
            <tr>
                <td>3423</td>
                <td>₹ 5002</td>
                <td>27th Aug 2021, 11:30 AM</td>
            </tr>
            <tr>
                <td>3423</td>
                <td>₹ 5002</td>
                <td>27th Aug 2021, 11:30 AM</td>
            </tr>
            <tr>
                <td>3423</td>
                <td>₹ 5002</td>
                <td>27th Aug 2021, 11:30 AM</td>
            </tr>
        </table>
        <div class="parameters-small-screen">
            <div class="parameter">
                <div class="param-title">Product ID</div>
                <div class="param-value">{{ auction.id }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">Start Time</div>
                <div class="param-value">{{ auction.start_date }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">End Time</div>
                <div class="param-value">{{ auction.start_date }}</div>
            </div>
            <div class="parameter">
                <div class="param-title">Status</div>
                <div class="param-value green">{{ auction.status }}</div>
            </div>
        </div>

</div>

{% endblock %}