{% extends 'auctions/main.html' %}
{% load static %}
{% block content %}
<div class="wrapper">
    <div class="title">
        Your Auctions ({{ auctions.count}})
    </div><hr>
    {% if auctions %}
    <div class="your-auctions-container">
        {% if messages %}
        <div class="message">
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% for auction in auctions %}
        <div class="your-auction">
            <div class="action-container">
                {% if auction.is_scheduled %}
                    <a href="{% url 'editauction' auction.id %}" class="action-btn grey" title="Edit Auction"><i class="fas fa-edit"></i></a>
                {% endif%}
                    <a href="{% url 'deleteauction' auction.id %}" id="delete-auction" class="action-btn red" title="Delete Auction"><i class="far fa-trash-alt"></i></a>

            </div>
            <div class="your-auction-card">
                <div class="your-auction-img">
                    <img src="{{ auction.auctionimage_set.all.first.image.url }}" alt="">
                </div>
                <div class="your-auction-details">
                    <div class="auction-title"><a href="{% url 'auctiondetail' auction.id %}">{{ auction.title }}</a></div>
                    <div class="your-auction-detail-box">
                        <div class="detail"><span class="detail-text">Number of Bids</span><span class="detail-value blue">
                            {{ auction.bid_set.count }}</span></div>
                        <div class="detail"><span class="detail-text">Opening Price</span><span class="detail-value blue">₹ 
                            {{ auction.opening_price }}</span></div>
                        {% if auction.is_started and not auction.is_sold %}    
                        <div class="detail"><span class="detail-text">Current Bid Price</span>
                            <span class="detail-value dark bold">
                                ₹ {% if auction.current_bid_price %}
                                {{ auction.current_bid_price }}
                                {% else %}
                                {{ auction.opening_price }}
                                {% endif %}
                    
                            </span>
                        </div>
                        <div class="detail">
                            <span class="detail-text">Status</span><span class="detail-value green">
                                {{ auction.status }}</span>
                        </div>

                        {% elif auction.is_started and auction.is_sold %}
                        <div class="detail"><span class="detail-text">Final Price</span>
                            <span class="detail-value dark bold">
                                ₹ {% if auction.current_bid_price %}
                                {{ auction.current_bid_price }}
                                {% else %}
                                {{ auction.opening_price }}
                                {% endif %}
                            </span>
                        </div>
                        {% elif auction.is_scheduled %}
                        {% elif auction.is_ended %}
                        <div class="detail"><span class="detail-text">Final Price</span>
                            <span class="detail-value dark bold">
                                ₹ {% if auction.current_bid_price %}
                                {{ auction.current_bid_price }}
                                {% else %}
                                {{ auction.opening_price }}
                                {% endif %}
                            </span>
                        </div>
                        <div class="detail">
                            <span class="detail-text">Status</span><span class="detail-value green">
                                {{ auction.status }}</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="your-auction-status">
                    {% if auction.is_started and not auction.is_sold %}
                        <div style="color: var(--red);">LIVE</div>
                    {% elif auction.is_scheduled %}
                        <div style="color: var(--dark-400);">SCHEDULED</div>
                    {% elif auction.is_sold or auction.is_ended %}
                        <div style="color: var(--dark-400);">ENDED</div>
                    {% elif auction.is_sold or auction.is_started %}
                        <div style="color: var(--dark-400);">ENDED</div>
                    {% endif %}

                {% if not auction.is_sold and auction.is_started %}
                <div class="countdown-timer">
                    <div class="countdown-title">ENDS IN</div>
                    <div class="timer">
                        <div class="timer-values">
                            <span class="day-value">{{ auction.time_left.day }}</span> :
                            <span class="hr-value">{{ auction.time_left.hour }}</span> :
                            <span class="min-value">{{ auction.time_left.min }}</span>
                            <span class="sec-value sec">{{ auction.time_left.sec }}</span>
                        </div>
                        <div class="timer-names">
                            <span class="time-title">DAY</span>
                            <span class="time-title">HOUR</span>
                            <span class="time-title">MIN</span>
                        </div>
                    </div>
                </div>
                {% elif auction.is_scheduled %}
                <div class="countdown-timer">
                    <div class="countdown-title">STARTS IN</div>
                    <div class="timer">
                        <div class="timer-values">
                            <span class="day-value">{{ auction.time_until_start.day }}</span> :
                            <span class="hr-value">{{ auction.time_until_start.hour }}</span> :
                            <span class="min-value">{{ auction.time_until_start.min }}</span>
                            <span class="sec-value sec">{{ auction.time_until_start.sec }}</span>
                        </div>
                        <div class="timer-names">
                            <span class="time-title">DAY</span>
                            <span class="time-title">HOUR</span>
                            <span class="time-title">MIN</span>
                        </div>
                    </div>
                </div>
                {%endif%}
                </div>
                <div class="your-auction-actions">
                    {% if auction.is_started and not auction.is_sold %}
                        <a href="{% url 'endbyselling' auction.id %}" class="manage-btn green-btn">End By Selling</a>
                        <a href="{% url 'manageauction' auction.id %}" class="manage-btn blue-btn">Manage Auction</a>
                        <a href="{% url 'endwithoutselling' auction.id %}" onclick="return confirm('Are you sure you want to end this auction without selling?')" class="manage-btn grey-btn">End without Selling</a>
                    {% else %}
                        <a href="{% url 'manageauction' auction.id %}" class="manage-btn blue-btn">Manage Auction</a>

                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        No Auctions Found
    {% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).on('click', '#delete-auction', function () {
        return confirm('Are you sure you want to delete this Auction?');
    })
</script>
</div>

{% endblock %}